.hopBanner {
    background:#F4C8DD;
    margin: 40px 0px;
    padding: 10px;
}

.vbreak {
    margin: 10px;
}

.wfont {
    font-family: 'Share', cursive;
    color: white;
}

.borderline {
    border: 10px solid #66c4be;
    margin: -20px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.smbox {
    border: 5px solid #96DAD6; 
    margin: 20px;
    padding: 30px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background: #e8fcfb;
}

.navline {
    border-right: 5px solid #96DAD6;
    padding: 10px 30px;
}

.checkline {
    border-right: 5px solid #96DAD6;
    padding: 10px 40px 10px 30px;
}

h2 {
    color:#7CC2BE;
    font-family: 'Share', cursive;
    font-size: 28px;
}

.st {
    color:#7CC2BE;
    font-family: 'Share', cursive;
    font-size: 20px;
}

.wrn {
    color:#B52D61;
    font-family: 'Share', cursive;
    text-decoration: none;
}

small {
    color:#B52D61;
    font-family: 'Share', cursive;
    text-decoration: none;
}

p {
    color: grey;
    font-size: 20px;
}