<div layout="column" layout-align="center center">
    <div>
        <div ng-show="{{rabbit.checked_in}}" class="float-left smbox" ng-repeat="rabbit in vm.rab.list">
            <h2>{{rabbit.name}}</h2>
            <p>Description: {{rabbit.description}}</p>
            <p ng-show="{{rabbit.altered}}">Hoppy Hour Friendly</p>
            <p ng-hide="{{rabbit.altered}}" class="wrn">No Hoppy Hour</p>
            <p>Owner: {{rabbit.owner_name}}</p>
            <md-button class="md-accent md-hue-1 md-raised" ng-click="vm.delRab(rabbit)">Delete</md-button>
            <md-button class="md-primary md-hue-1 md-raised" ng-click="vm.checkoutRab(rabbit)">Check Out</md-button>
        </div>
    </div>
</div>