<div layout="column" layout-align="center center">
    <h2>Current Guest</h2>
    <div>
        <div ng-show="{{rabbit.checked_in}}" class="float-left smbox" ng-repeat="rabbit in vm.rab.list">
            <h2>{{rabbit.name}}</h2>
            <p>Description: {{rabbit.description}}</p>
            <p ng-show="{{rabbit.altered}}">Hoppy Hour Friendly</p>
            <p ng-hide="{{rabbit.altered}}" class="wrn">No Hoppy Hour</p>
            <p>Owner: {{rabbit.owner_name}}</p>
            <md-button class="md-accent md-hue-1 md-raised" ng-click="vm.delRab(rabbit)">Delete</md-button>
            <md-button class="md-primary md-hue-1 md-raised" ng-click="vm.checkoutRab(rabbit)">Check Out</md-button>
        </div>
    </div>
</div>
    
<!-- <div layout="column" layout-align="center center">
    <div>
        <div ng-show="{{rabbit.checked_in}}" class="float-left smbox" ng-repeat="rabbit in vm.rab.list">
            <h2>{{rabbit.name}} <i class="icon-teal material-icons" ng-click="vm.eName(rabbit)">edit</i></h2>
            <p>Description: {{rabbit.description}} <i class="icon-small material-icons" ng-click="vm.eDescription(rabbit)">edit</i></p>
            <p ng-show="{{rabbit.altered}}">Hoppy Hour Friendly <i class="material-icons" ng-click="vm.eHopHour(rabbit)">edit</i></p>
            <p ng-hide="{{rabbit.altered}}" class="wrn">No Hoppy Hour <i class="material-icons" ng-click="vm.eHopHour(rabbit)">edit</i></p>
            <p>Owner: {{rabbit.owner_name}} <i class="material-icons" ng-click="vm.eOwner(rabbit)">edit</i></p>
            <md-button class="md-accent md-hue-1 md-raised" ng-click="vm.delRab(rabbit)">Delete</md-button>
            <md-button class="md-primary md-hue-1 md-raised" ng-click="vm.checkoutRab(rabbit)">Check Out</md-button>
        </div>
    </div>
</div> -->
        
            